body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ProfileImageContainer {
  height: 300px;
  width: 300px;
  padding: 12px;

}

.ProfileImage {
  background-image: url("./assets/elsa.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 50%;
}
